<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUTHORS</title>

    <!-- Google Fonts -->
    <link href="css/css2.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom made CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <%for(let i=0;i<userNav.length;i++) {%>
                        <%if(i === 0) {%>
                            <a class="nav-item nav-link active" href="<%=userNav[i].link%>"><%=userNav[i].name%> <span class="sr-only">(current)</span></a>
                        <%} else {%>
                            <a class="nav-item nav-link" href="<%=userNav[i].link%> "><%=userNav[i].name%></a>
                        <%}%>
                    <%}%>
                </div>
            </div>
        </nav>
        <h1><%=title%> </h1>
    </header>
    <section class="text-secondary page-content">
        <div class="container">
            <h2 class="pt-3 text-center" style="color: #111166;"><%=section%></h2>
            <%for(let i=0; i<authors.length; i++){%>
            <div class="row">
                <div class="col-lg-12 details">
                    <img class="author-image" src="/images/<%=authors[i].img%>" alt="">
                    <div class="text-content mr-1">
                        <h5 class="content-title"><%=authors[i].name%></h5><br>
                        <span class="home-address border border-secondary rounded-sm bg-secondary text-light"><%=authors[i].language%></span><br>
                        <p class="text-monospace mt-3"><%=authors[i].type%> <span class="align-text-bottom">.</span> <a class="text-secondary" href="/authors/<%=i%>">Read More</a></p>
                    </div>
                </div>
            </div>
            <hr>
            <%}%>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item"><a class="page-link text-light mr-1 mb-3" id="next-page" href="#">More <i class="fas fa-forward"></i></a></li>
                </ul>
            </nav>
        </div>
    </section>
    <footer>
        <h3 class="text-secondary">Follow Us</h3><br>
        <nav aria-label="Social Media Links">
            <ul class="pagination">
                <li class="page-item">
                    <a href="#" class="page-link text-light mr-0 border-right-0" id="twt-btn">Twitter</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link text-light ml-0 mr-0 border-left-0 border-right-0" id="fb-btn">Facebook</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link text-light ml-0 border-left-0" id="gplus-btn">Google+</a>
                </li>
            </ul>
        </nav>
    </footer>
    <!-- Font Awesome Icon Script CDN -->
    <script src="js/b8fd7f0d92.js"></script>

    <!-- Bootstrap Javascript, jQuery, and Popper.js CDN -->
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>