<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP</title>
    
    <!-- Google Fonts -->
    <link href="/css/css2.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom made CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <%for(let i=0;i<nav.length;i++) {%>
                        <%if(i === 2) {%>
                            <a class="nav-item nav-link active" href="<%=nav[i].link%>"><%=nav[i].name%> <span class="sr-only">(current)</span></a>
                        <%} else {%>
                            <a class="nav-item nav-link" href="<%=nav[i].link%> "><%=nav[i].name%></a>
                        <%}%>
                    <%}%>
                </div>
            </div>
        </nav>
        <!-- /Navigation bar -->
        <h1><%=title%></h1>
    </header>
    <section class="page-content" id="signup-content">
        <div class="container">
            <h2 class="pt-3 text-center"><%=sub_title%></h2>
            <!-- Signup Form -->
            <form class="lib-form" action="/signup/completed" method="POST" onsubmit="return validate();" enctype="application/x-www-form-urlencoded">
                <div class="form-group row">
                    <label for="name" class="col-lg-2 col-md-2 col-sm-2 col-3 col-form-label">Name</label>
                    <input type="text" class="form-control col-lg-10 col-md-10 col-sm-10 col-9" id="name" name="name">
                    <label for="Empty name error" class="mt-2 ml-3"><%=emptyName%></label>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-lg-2 col-md-2 col-sm-2 col-3 col-form-label">Type of User</label>
                    <div class="form-check form-check-inline col-lg-3 col-md-3 col-sm-3 col-3">
                        <input class="form-check-input" type="radio" name="userType" id="student" value="student">
                        <label class="form-check-label" for="student">Student</label>
                    </div>
                    <div class="form-check form-check-inline col-lg-3 col-md-3 col-sm-3 col-3">
                        <input class="form-check-input" type="radio" name="userType" id="teacher" value="teacher">
                        <label class="form-check-label" for="teacher">Teacher</label>
                    </div>
                    <div class="form-check form-check-inline col-lg-3 col-md-3 col-sm-2 col-2">
                        <input class="form-check-input" type="radio" name="userType" id="admin" value="admin">
                        <label class="form-check-label" for="admin">Admin</label>
                    </div>
                    <label for="Empty account type error" class="mt-2 ml-3"><%=emptyAccountType%></label>
                </div>
                <div class="form-group row">
                    <label for="registerNumber" class="col-lg-2 col-md-2 col-sm-2 col-3 col-form-label">Register Number</label>
                    <input type="text" class="form-control col-lg-10 col-md-10 col-sm-10 col-9" id="registerNumber" name="registerNumber">
                    <label for="Empty register number error" class="mt-2 ml-3"><%=emptyRegisterNumber%></label>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-lg-2 col-md-2  col-sm-2 col-3 col-form-label">Email</label>
                    <input type="text" class="form-control col-lg-10 col-md-10 col-sm-10 col-9" id="email" name="email">
                    <div id="emailError" class="mt-2 mx-auto"></div>
                </div>
                <div class="form-group row">
                    <label for="phoneNumber" class="col-lg-2 col-md-2 col-sm-2 col-3 col-form-label">Phone Number</label>
                    <input type="text" class="form-control col-lg-10 col-md-10 col-sm-10 col-9" id="phoneNumber" name="phoneNumber">
                    <div id="phoneNumberError" class="mt-2 mx-auto"></div>
                </div>
                <div class="form-group row passwordGroup">
                    <label for="password" class="col-lg-2 col-md-2 col-sm-2 col-3 col-form-label">Password</label>
                    <input type="password" class="form-control col-lg-4 col-md-4 col-sm-4 col-8 typePassword" id="password" name="password">
                    <meter min="0" max="4" class="form-control col-lg-3 col-md-4 col-sm-4 col-9 strengthMeter"></meter>
                    <label for="passwordStrength" class="col-form-label col-lg-2 col-md-1 col-sm-1 col-1 strengthStatus"></label>
                    <div id="passwordError" class="mt-2 mx-auto"></div>
                </div>
                <div class="form-group row passwordGroup">
                    <label for="confirmPassword" class="col-lg-2 col-md-2 col-sm-2 col-3 col-form-label">Confirm Password</label>
                    <input type="password" class="form-control col-lg-4 col-md-4 col-sm-4 col-8 typePassword" id="confirmPassword">
                    <meter min="0" max="4" class="form-control col-lg-3 col-md-4 col-sm-4 col-9 strengthMeter"></meter>
                    <label for="passwordStrength" class="col-form-label col-lg-2 col-md-1 col-sm-1 col-1 strengthStatus"></label>
                    <div id="confirmPasswordError" class="mt-2 mx-auto"></div>
                </div>
                <div class="btn-div">
                    <button type="submit" class="btn text-light mb-3" id="signupButton">Signup</button>
                </div>
            </form>
            <!-- /Signup Form -->
        </div>
    </section>
    <footer>
        <h3 class="text-secondary">Follow Us</h3><br>
        <nav aria-label="Social Media Links">
            <!-- Social media icons -->
            <ul class="pagination">
                <li class="page-item">
                    <a href="#" class="page-link bg-info text-light mr-0 border-right-0" id="twt-btn">Twitter</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link text-light ml-0 mr-0 border-left-0 border-right-0" id="fb-btn">Facebook</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link text-light ml-0 border-left-0" id="gplus-btn">Google+</a>
                </li>
            </ul>
            <!-- /Social media icons -->
        </nav>
    </footer>

    <!-- Bootstrap Javascript, jQuery, and Popper.js -->
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript File Link -->
    <script src="/js/signup.js"></script>
</body>
</html>